.App{
  text-align: center;
}

header{
  background-color: bisque;
  padding: 20px 0;
}

header nav ul{
  display: flex;
  justify-content: space-evenly
}

header li{
  list-style: none;
}

.itemdiv{
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 10px 100px;
  padding: 20px;
}

button{
  font-size: 30px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10px;
}

.itemdiv input{
  padding: 5px;
  font-size: 30px;
  text-align: center
}

.task{
  border: 1px solid brown;
  border-radius: 4px;
  margin: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
}